@import '../../../node_modules/office-ui-fabric-core/dist/sass/References';

// Root
$root-background-color: var(--fluent-button--background-color, #fcfcfc);
$root-border-color: var(--fluent-button--border-color, transparent);
$root-border-radius: var(--fluent-button--border-radius, 4px);
$root-shadow: var(--fluent-button--shadow, #f8f8f8); // TODO
$root-padding: var(--fluent-button--padding, 0 20px 0 20px);
// $root-height: var(--fluent-button--height);
// $root-width: var(--fluent-button--width);
$root-min-height: var(--fluent-button--min-height, 32px);
// $root-max-height: var(--fluent-button--max-height);
// $root-min-width: var(--fluent-button--min-width);
$root-max-width: var(--fluent-button--max-width, 280px);

// Text
$text-color: var(--fluent-button--text--color, #484848);
$text-font-weight: var(--fluent-button--text--font-weight, normal);
$text-font-size: var(--fluent-button--text--font-size, 14px);
$text-line-height: var(--fluent-button--text--line-height, 20px);

:host {
  display: inline-flex;
  outline: none;
}

:host([disabled]) {
  pointer-events: none;
}

.root {
  min-height: $root-min-height;
  max-width: $root-max-width;
  padding: $root-padding;

  border-radius: $root-border-radius;
  border-color: $root-border-color;

  justify-content: center;
  align-items: center;

  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
  outline: none;

  cursor: pointer;

  .text {
    color: $text-color;
    font-weight: $text-font-weight;
    font-size: $text-font-size;
    line-height: $text-line-height;
    font-family: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, Roboto,
      'Helvetica Neue', sans-serif;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &.icon-only {
    padding: var(--fluent-button--padding, 0 8px);
  }

  &:not(.icon-only) {
    &:not(.icon-after) .icon {
      margin-right: 8px;
    }

    &.icon-after .icon {
      margin-left: 8px;
    }
  }

  &:hover {
    background: #ffffff; // should this be a var
  }

  &:active {
    background: #f9f9f9; // should this be a var
  }

  &:focus {
    outline: 0;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      border-width: 1px;
      border-style: solid;
      border-color: transparent;
      pointer-events: none;
      left: 2px;
      top: 2px;
      bottom: 2px;
      right: 2px;
      z-index: 1;
      outline: rgb(96, 94, 92) solid 1px;
    }
  }

  &:focus-visible {
    border-color: transparent;
  }

  // &.default {
  //   background: var(--button-background, $ms-color-white);
  //   border: var(--button-border, none);
  //   color: var(--color, $ms-color-neutralPrimary);

  //   &:hover {
  //     background: var(--button-hover-background, $ms-color-neutralLighter);
  //   }

  //   &:active {
  //     background: var(--button-active-background, $ms-color-neutralLight);
  //   }
  // }

  // &.command {
  //   background: var(--button-background, $ms-color-white);
  //   border: var(--button-border, none);
  //   color: var(--color, $ms-color-neutralPrimary);

  //   &:hover {
  //     background: var(--button-hover-background, $ms-color-neutralLighter);
  //   }

  //   &:active {
  //     background: var(--button-active-background, $ms-color-neutralLight);
  //   }

  //   .content {
  //     justify-content: start;
  //     padding: 0 4px;

  //     span {
  //       font-weight: 400;
  //       min-width: 136px;
  //     }

  //     mgt-icon {
  //       color: var(--button-active-color, $ms-color-communicationPrimary);
  //     }
  //   }
  // }

  // &.primary {
  //   background: var(--button-background, $ms-color-communicationPrimary);
  //   border: var(--button-border, solid 1px rgba(0, 0, 0, 0));
  //   color: var(--color, #ffffff);

  //   &:hover {
  //     background: var(--button-hover-background, $ms-color-communicationShade10);
  //   }

  //   &:active {
  //     background: var(--button-active-background, $ms-color-communicationShade20);
  //   }
  // }

  // &.disabled {
  //   background: var(--button-background, $ms-color-neutralLighter);
  //   border: var(--button-border, none);
  //   color: var(--color, $ms-color-neutralTertiary);
  // }

  // .content {
  //   .with-text {
  //     margin-right: 8px;
  //   }

  //   span {
  //     font-size: 14px;
  //     font-weight: 600;
  //     letter-spacing: 0.1px;
  //     line-height: 14px;
  //     white-space: nowrap;
  //     text-align: left;
  //   }

  //   mgt-icon {
  //     color: var(--button-active-color, inherit);
  //   }
  // }
}
